
// Kerberos Realm: LABOPROGSEGURA.UNAVARRA.ES princ:pwd
// ligeti@LABOPROGSEGURA.UNAVARRA.ES : ligetiPS2021
// geyer@LABOPROGSEGURA.UNAVARRA.ES : geyerPS2021

grant codeBase "file:${user.dir}/dist/client.jar" {

    permission javax.security.auth.AuthPermission "createLoginContext.CLIENT";
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";

    permission java.util.PropertyPermission "user.dir", "read";
    permission java.net.SocketPermission "127.0.0.1:2050", "connect, resolve";

    permission java.io.FilePermission "${user.dir}/data/client/pi.jar", "read";
    permission java.io.FilePermission "${user.dir}/data/client/piargs.txt", "read";

    permission java.io.FilePermission "${user.dir}/data/client/pi.txt", "write";

    permission java.io.FilePermission "${user.dir}/data/client/client0.jar", "read";
    permission java.io.FilePermission "${user.dir}/data/client/empty", "read, write";

};


grant codeBase "file:${user.dir}/dist/filetransfer.jar" {

    permission java.io.FilePermission "${user.dir}/data/client/pi.jar", "read";
    permission java.io.FilePermission "${user.dir}/data/client/piargs.txt", "read";

    permission java.io.FilePermission "${user.dir}/data/client/client0.jar", "read";
    permission java.io.FilePermission "${user.dir}/data/client/empty", "read";

};