// Kerberos Realm: LABOPROGSEGURA.UNAVARRA.ES princ:pwd
// admin@LABOPROGSEGURA.UNAVARRA.ES : adminPS2021

grant codeBase "file:${user.dir}/dist/main.jar" {
    permission javax.security.auth.AuthPermission "createLoginContext.SERVICE";
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";
};

grant codeBase "file:${user.dir}/dist/service.jar" { 

	permission java.lang.RuntimePermission "modifyThread";    
	permission javax.security.auth.AuthPermission "doAsPrivileged";
	
	permission java.net.SocketPermission "localhost:2050", "listen,resolve";
	permission java.net.SocketPermission "127.0.0.1:1024-", "accept,resolve";
	permission java.util.PropertyPermission "user.dir", "read";

	permission java.io.FilePermission "${user.dir}/data/service/database/*", "read";
	permission java.io.FilePermission "${user.dir}/data/service/database", "read";

	permission java.io.FilePermission "${user.dir}/data/service/workspace/*", "read, write";
	permission java.lang.RuntimePermission "setIO";
	permission java.io.FilePermission "${user.dir}/data/service/workspace/*", "delete";

};

grant codeBase "file:${user.dir}/lib/h2-1.4.197.jar" {
	permission java.io.FilePermission "${user.dir}/data/service/database/*", "read";
	permission java.io.FilePermission "${user.dir}/data/service/database", "read";
};

grant codeBase "file:${user.dir}/dist/filetransfer.jar" { 
	permission java.io.FilePermission "${user.dir}/data/service/workspace/*", "write";
};

grant codeBase "file:${user.dir}/dist/jarrunnera.jar" {
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.io.FilePermission "${user.dir}/data/service/workspace/*", "read";
};

grant codeBase "file:${user.dir}/dist/jarrunnerb.jar" {

};
